<ion-header>
  <ion-toolbar>
    <ion-title>tran</ion-title>
  </ion-toolbar>
  <style></style>
</ion-header>

<ion-content>
  <div id="header" ng-controller="MainCtrl">
    <form action="">
      <ion-label position="floating" style="margin-bottom: 10px;"> Transaction Name</ion-label>
      <ion-input class="container" type="text"></ion-input>
      <ion-list>
        <ion-item>
          <ion-label>Pepperoni</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>
      
        <ion-item>
          <ion-label>Sausage</ion-label>
          <ion-toggle disabled="true"></ion-toggle>
        </ion-item>
    </ion-list>
    </form>
  </div>
 

</ion-content>
